:root {
    --body-light-color: #e5e5e5;
    --body-dark-color: #2f303a;
    --accent-color: #2196f3;
    --title-text-color: #212121;
    --common-text-color: #757575;
    --typical-margin:30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
   
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {

    background-color: var(--body-light-color);
    color: var(--common-text-color);
    font-family: 'Roboto', 'Raleway', sans-serif;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    
  
}



/* -------------------------------------------LOGO--------------------------------------------------------------------------*/

.logo {
    margin-right: 93px;

    text-decoration: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    font-style: normal;
}
 
.logo-first-part{
    color: var(--accent-color);
}

/* -------------------------------------------HEADER-------------------------------------------------------------------------*/


.header{
    border: 1px solid #ECECEC;
    background-color: #fff;
}

.header-content,
.menu,
.nav,
.auth,
.menu-item{
    display: flex;
    align-items:center;
}


.menu-item{
    display: flex;
    justify-content: flex-start;

}
.menu,
.auth{   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth{
    margin-left: auto;
}

.email,
.phon {
    margin-right: 50px;
    text-decoration: none;
    color: var(--common-text-color);
}

.menu-studio,
.menu-portfolio,
.menu-contacts {
    margin-right: 50px;
    text-decoration: var(--accent-color);
    color: var(--title-text-color);  
}
.menu-studio, 
.menu-contacts,
.menu-portfolio{
   padding-top: 32px;
   padding-bottom: 32px;
}
    
.menu-studio:hover,
.menu-portfolio:hover,
.menu-contacts:hover,
.email:hover,
.phon:hover,
.menu-studio:focus,
.menu-portfolio:focus,
.menu-contacts:focus,
.email:focus,
.phon:focus
{
    color: var(--accent-color);
}

/* -------------------------------------------HERO-------------------------------------------------------------------------*/

.hero {
    padding:200px 452px; 
    background-color: var(--body-dark-color);  
  
}

.hero-title {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--typical-margin);
    max-width: 696px;
    
    text-decoration: var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color:#fff;
    text-transform: uppercase;
    
}

.hero-btn{ 
    display: block;
    margin-top: var(--typical-margin);
    padding: 10px 32px;
    white-space: nowrap;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 50px;
    border-radius: 4px;

    font-family: inherit;
    color: #fff;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.hero-btn:hover, 
.hero-btn:focus { 
    background-color: #188CE8;
}
/* -------------------------------------------MENU BUTTONS PORTFOLIO PAGE-----------------------------------------------------*/
 

 .filter{
     display: flex;
     padding-top: 94px;
     margin-left: 310px;
     padding-right: 494px;
 }


.filter-button {
    display: inline-block;
    padding: 6px 22px 6px 22px;
    white-space: nowrap;
    border-radius: 4px;
    height: 38px;
    vertical-align: text-top;
    margin-left: 8px;
    margin-bottom: 50px;

    font-family: inherit;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;  
    cursor: pointer;
}


.filter-button:focus,
.filter-button:hover {
   background-color: var(--accent-color);
   color: #fff;
}


/* -------------------------------------------PROJECTS LIST PORTFOLIO PAGE----------------------------------------------------------*/


.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}


.portfolio-item{
    width: 370px;
    margin-right: var(--typical-margin);
    margin-bottom:var(--typical-margin);
    
}
.portfolio-item:nth-child(3n){
    margin-right: 0;
}
.portfolio-item:nth-last-child(-n+3){
    margin-bottom: 94px;
}

.portfolio-link{
    text-decoration: none;
}

.portfolio-list-title{
    
    color: var(--title-text-color);
 
    font-weight: 700;
    font-size: 18px;
    line-height: 2px;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 4px;
}

.text-about{ 
     
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--common-text-color);
}


.portfolio-list-title:hover,
.portfolio-list-title:focus, 
.text-about:hover,
.text-about:focus{
    color: var(--accent-color);
}


/* -------------------------------------------FEATURES-------------------------------------------------------------------------*/

.title-hide{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features{
    padding-left: 215px;
    padding-right: 215px;
     
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--common-text-color);
}

.features-list{
    display: flex;
}

.features-list-item{
    margin-top: 94px;
    margin-bottom: 0;
    width: 270px;
    margin-right: 30px;
    margin-right: var(--typical-margin);
}

.features-title{ 
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* -------------------------------------------WAT WE DO-------------------------------------------------------------------------*/

.wat-we-do{
    padding:  94px 215px ;
}

.wat-we-do-title {
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
   
}


.wat-we-do-list {
    display:flex;
}

.wat-we-do-item{
    margin-right: var(--typical-margin);

}

.wat-we-do-list:last-child{
    margin-right: 0;
}
/* -------------------------------------------TEAM------------------------------------------------------------------------*/

.team {
    padding: 94px 215px;

    background-color: #F5F4FA;
    text-align: center;
}

.team-list {
    display: flex;
}

.team-item {
    
    width: 270px;
    padding-right: var(--typical-margin);
    
}

.team-list:last-child {
    margin-right: 0;
}

.team-title,
.team-title-lower {
    width: 270px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.photo-team-member {
    margin-bottom: var(--typical-margin);
    border: 2px solid var(--common-text-color);
}

.team-title {
    display: inline-block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.team-title-lower {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-profession {

    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--common-text-color);
}



/* -------------------------------------------FOUTER------------------------------------------------------------------------*/
.footer{
    background-color: var(--body-dark-color);
}

.footer-content{
    padding-top: 60px;
    padding-left: 1154;
    padding-bottom: 60px;
    padding-right: 60px;
}

.footer-content >.logo {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
}  

.footer-address,
.footer-email,
.footer-phon{
    display: inline-block;
    margin-bottom: 9px;

    text-decoration: var(--accent-color);
    font-style: normal;  
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
}

.footer-address{
    color: #fff;
}

.footer-email,
.footer-phon{
    color: rgba(255, 255, 255, 0.6);
}


.footer-email:hover,
.footer-phon:hover, 
.footer-email:focus,
.footer-phon:focus
.footer-address:hover,
.footer-address:hover{
    color: var(--accent-color);
}


